body{
	font-family:aileron, helvetica, sans-serif;
	font-size:15px;
	line-height:1.5;
	padding:0;
	margin:0;
	background-color:#efdcc3;
}

body{
	color: white;
}

/* Global */
.container{
	width:90%;
	margin:auto;
	overflow:hidden;
}

.container h3 {
	font-size: 1.1em;
	font-weight: bold;
}

.container p {
	text-align: justify;
}

ul{
	margin:0;
	padding:0;
}

/* Header -------------------------------------------------------------------------------------------------------------------------------------*/
/* Carousel */ 
.carousel_images {
	max-width:100%;
	border-bottom:#ef3e42 5px solid;

}

.carousel-indicators {
	padding-top:-700px;
}


/* Boxes and little logo icons ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.entire_little_logos {
	/* background-color: #272929; */
	background: linear-gradient(to right bottom, #262626 50%, #1a1a1a 50%);
}

.box {
	float:left;
	width:30%;
	padding:10px;
	text-align:center;
}

.box img{
	width:68%; /* Changes the size of the icons */

}
/* BELOW THE LITTLE LOGOS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

hr {
	width:75%;
	/* CHANGE COLOR TO BLACK */
	border-color:black;
}

#genguidelines {
	padding:20px;
	background: linear-gradient(to left bottom, #ef3e42 50%,#ee2b2e 50%);
	/* background: linear-gradient(to left bottom, #8d0c0e 50%,#750a0c 50%); */
	/* background-color:#ef3e42; */
}

#recognition {
	padding:20px;
	/* background-color:#003263; */
	background: linear-gradient(to right bottom, #003263 50%,#00264d 50%);
}

#submission {
	padding:20px;
	background: linear-gradient(to left bottom, #262626 50%, #1a1a1a 50%);
}

hr {
	width:75%;
	color:black;
}

/* groups ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#service_learning_award_group {
	background-color:#9fdf9f;
	margin:0;
	padding:0;
	border-top:green 3px solid;
}

#special_recognition_award_group{
	background-color:#f2e6d9;
	margin:0;
	padding:0;
}

.award_description {
	margin-top:-30px;
}


/* footer */
footer {
	padding:20px;
	margin-top:0px;
	color:#1d3564;
	background-color:#e6e6e6;
	text-align:center;
	border-top:#ef3e42 2px solid;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
THIS IS ALL FOR THE HEADER AND NAV SECTION ~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
header .highlight, header .current a{
/* Changes the color to red for the first word on pagename title and page in the nav bar */
	color:#ef3e42;
	font-weight:bold;
}

.emphasis {
	color:#ef3e42;
	font-weight:bold;
}

.main-nav li{
  margin: 0;
  padding: 0;
  list-style: none;

}

.main-nav a {
	text-decoration: none;

}

.main-nav {
	margin-top: 5px;

}

.logo a {
	color:#1d3564;
}

.logo a:hover {
	text-decoration: none;
}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #1d3564;
	font-size: 1em;
	font-weight:bold;
}

.main-nav a:hover {
	color:#c88937;
	font-weight:bold;
}



.header {
	/*NOT FIXED SPOT YET*/
	width:100%;
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		
		max-width: 1150px;

	}
	}

	.logo a{
		padding: 10px 15px;
		text-transform: uppercase;
		text-align: center;
		display: block;
	}
}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
		position:fixed;
		z-index:1;
	}

	.logo a{
		padding:0px;
		display: inline;
	}

	.logo {
	margin-left:15px;
	}

	.carousel-inner img {
		margin-top:10%;
	}
}


/* Dropdown Button */

/* The container <div> - needed to position the dropdown content */
.drophr {
	width:100%;
	border-color:#d8d8d8;
	margin:0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #0a1010;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/*------------------------------------------MEDIA---------------------------------------------*/
@media only screen and (max-width: 500px) {
	.box{
	float:left;
	width:100%;
	padding:10px;
	text-align:center;
  }
}
/*--------------------------------------END MEDIA QUERY---------------------------------------*/

/*--------------------------------------SCROLL TO TOP---------------------------------------*/
.auto-scroll-to-top {
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 40px;
    right: -80px;
    border-radius: 100%;
    background-color: #808080;
    color: #fff;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    line-height: 55px;
    -moz-box-shadow: 0 0 5px 0px #888;
    -webkit-box-shadow: 0 0 5px 0px #888;
    box-shadow: 0 0 5px 0px #888;
    transition: 0.3s;
}

.visible {
    right: 30px;
    transition: 0.3s;
}

/*--------------------------------------END SCROLL TO TOP---------------------------------------*/

